{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                First published {{ post.created_date|date:"M d, Y" }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
          <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}

        <img src="{{ post.image }}" alt="My image">
<!--        <img class="d-block w-100" src="{{photos.images.url}}"> -->

        <h2>{{ post.company_name }}</h2>
        <p><a href="{{ post.website }}">{{ post.website }}</a></p>
        <p>{{ post.focus|linebreaksbr }}</p>
        <p>{{ post.text|linebreaksbr }}</p>
        <p>Made in {{ post.made_in|linebreaksbr }}</p>
        <p>Based in {{ post.based_in|linebreaksbr }}</p>
        <p>${{ post.low_price }}-{{ post.high_price }}</p>
        <p class="tags"><i>{{ post.tags|linebreaksbr }}</i></p>
    </div>
    <div class="date">
        Last updated {{ post.published_date|date:"M d, Y" }}
    </div>

    <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
        {% for p in photos %}
          <li data-target="#carousel-example-1z" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
        {% endfor %}
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          {% for p in photos %}
          <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
            <img class="d-block w-100" src="{{p.images.url}}"
              alt="First slide">
          </div>
          {% endfor %}
          <!--/First slide-->
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
      </div>

{% endblock %}
