{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                First published {{ post.created_date|date:"M d, Y" }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
          <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h2>{{ post.company_name }}</h2>
        <p><a href="{{ post.website }}">{{ post.website }}</a></p>
        <p>{{ post.focus|linebreaksbr }}</p>
        <p>{{ post.text|linebreaksbr }}</p>
        <p>Made in {{ post.made_in|linebreaksbr }}</p>
        <p>Based in {{ post.based_in|linebreaksbr }}</p>
        <p>${{ post.low_price }}-{{ post.high_price }}</p>
        <p class="tags"><i>{{ post.tags|linebreaksbr }}</i></p>
    </div>
    <div class="date">
        Last updated {{ post.published_date|date:"M d, Y" }}
    </div>
{% endblock %}
